In [16]:
import pandas as pd
import numpy as np

In [17]:
name = 'prob_table'

In [18]:
table = pd.read_csv(f'{name}.csv', index_col=0)
table

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,0.118750,0.178125,0.23750,0.112500,0.168750,0.22500,0.118750,0.178125,0.23750,0.118750,0.178125,0.23750,0.005
2,0.178125,0.267188,0.35625,0.168750,0.253125,0.33750,0.178125,0.267188,0.35625,0.178125,0.267188,0.35625,0.005
3,0.237500,0.356250,0.47500,0.225000,0.337500,0.45000,0.237500,0.356250,0.47500,0.237500,0.356250,0.47500,0.005
4,0.062500,0.093750,0.12500,0.075000,0.112500,0.15000,0.093750,0.140625,0.18750,0.068750,0.103125,0.13750,0.005
5,0.093750,0.140625,0.18750,0.112500,0.168750,0.22500,0.140625,0.210938,0.28125,0.103125,0.154688,0.20625,0.005
6,0.125000,0.187500,0.25000,0.150000,0.225000,0.30000,0.187500,0.281250,0.37500,0.137500,0.206250,0.27500,0.005
7,0.087500,0.131250,0.17500,0.093750,0.140625,0.18750,0.093750,0.140625,0.18750,0.100000,0.150000,0.20000,0.005
8,0.131250,0.196875,0.26250,0.140625,0.210938,0.28125,0.140625,0.210938,0.28125,0.150000,0.225000,0.30000,0.005
9,0.175000,0.262500,0.35000,0.187500,0.281250,0.37500,0.187500,0.281250,0.37500,0.200000,0.300000,0.40000,0.005
10,0.062500,0.093750,0.12500,0.056250,0.084375,0.11250,0.081250,0.121875,0.16250,0.087500,0.131250,0.17500,0.005
11,0.093750,0.140625,0.18750,0.084375,0.126562,0.16875,0.121875,0.182812,0.24375,0.131250,0.196875,0.26250,0.005
12,0.125000,0.187500,0.25000,0.112500,0.168750,0.22500,0.162500,0.243750,0.32500,0.175000,0.262500,0.35000,0.005
13,0.005000,0.005000,0.00500,0.005000,0.005000,0.00500,0.005000,0.005000,0.00500,0.005000,0.005000,0.00500,0.005

In [19]:
np.savetxt(f'{name}.txt', table.values, fmt='%.3f')